.checkoutLogin__logoBox{
    padding: 20px 0px;
    border: none;
    padding-left: 15px;
    display: flex;
    justify-content: center;
  }
.checkoutLogin__closeButton{
    position: absolute !important;
    right: 25px;
    top: 22px;
    background-color: #F0F0F0 !important;
    height: 34px;
    width: 34px;

  }
  .css-104time-control{
    border-radius: 40px;
  }
.PhoneInputInput{
    border: none !important;
    padding: 3px 0px !important;
}
.PhoneInputInput:focus{
    outline: none !important;
}
.formRow{
    padding:10px 0px;
  }
  .formRow>.MuiTextField-root>.MuiInput-formControl>.MuiInput-input{
      border: 1px solid #DEDEDE !important;
      padding-left: 15px;
      border-radius: 25px;
  }
  .formRow>.MuiTextField-root>.MuiInput-formControl::before{
    border-bottom: none !important;
}
.formRow>.MuiTextField-root>.MuiInput-formControl::after{
    border-bottom: none;
}
.checkoutLogin__inputLabel{
    font-size:12px !important;
    font-weight:500 !important;
    padding:5px 15px;
    color: #000000 !important;
    text-align: center;
  }
.checkoutLogin__footerText{
   padding-top: 10px;
   padding-bottom: 10px;
    padding-left:15px;
    font-size: 12px;
    font-weight: 500;
    color: #000000 !important;
    text-align: center;
 }
.checkoutLogin__footerText>span{
   color:#D8213B;
   cursor: pointer;
}
.checkoutLogin__innerContainer{
    margin-top: 30px;
    padding: 0px 0px;
    margin-bottom: 30px;
}
.checkoutLogin__headerTitle{
    padding-left:15px;
    text-align: center;
 }
.checkoutLogin__footer{
    display: flex;
    padding: 16px 0px;
    align-items: center;
    justify-content: center;
  }
  .footer__checkoutLoginBtn{
    background-color: #D8213B !important;
    padding: 5px 30px !important;
    border-radius: 86px !important;
    color: white !important;
    margin-right: 20px !important;
  }
  .footer__checkoutLoginBtn:hover{
    color: #D8213B !important;
    background-color: white !important;
  }
.checkoutLogin__forgotPassword{
    
    padding-left: 15px;
    color:#D8213B !important;
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
}
.checkoutLogin__leftCol{
  position: relative;
}
.checkoutLoginImgShoesLogo{
  position: absolute;
  left: 40px;
  top: 49px;
}
.guestcheckoutButton .Button__ButtonDiv-sc-1r73v88-0{
    width: 100% !important;
}
.checkout__loginEntry{
    border-bottom: 30px solid #e5e5e524;
    padding: 50px 40px;
}
.guestAccountTitle{
  font-family: "Bebas Neue Pro" !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 22px !important;
line-height: 40px !important;
/* identical to box height, or 182% */

text-transform: uppercase !important;

color: #000000 !important;
}
.guestAccountTitle img{
  width: 30px;
  margin-left: -10px;
}
.guestcheckoutButton .TextInput__InputWrapper-sc-9jjo1u-0{
  border-radius: 25px !important;
  background-color: #FFFFFF;
}
.guestcheckoutButton .TextInput__InputWrapper-sc-9jjo1u-0:focus{
    outline: none;
    border: 1px solid #cccccc;
}
@media screen and (min-width: 964px) {
    .checkoutLogin__logoBox{
        
        justify-content: flex-start;
      }
      .checkoutLogin__closeButton{
        height: 44px;
        width: 44px;
    
      }
    .checkoutLogin__innerContainer{
        margin-top: 30px;
        padding: 0px 0px !important;
        margin-bottom: 0px;
    }
    .checkoutLogin__headerTitle{
         padding-left:15px;
        text-align: left;
     }
    .checkoutLogin__inputLabel{
        text-align: left;
    }
    .checkoutLogin__forgotPassword{
    
        padding-left: 15px;
        color:#D8213B !important;
        cursor: pointer;
        text-align: left;
    }
    .checkoutLogin__footer{
     
        justify-content: flex-start;
      }
      .footer__checkoutLoginBtn{
        padding: 10px 30px;
      }
    .checkoutLogin__footerText{
        text-align: left;
    }

  }

  @media screen and (min-width: 600px )and (max-width: 768px) {
  
  
    .checkout__flexContainerRight, .makeStyles-checkoutContent-3{

      width: 100%;
      margin: 25px 0px 0px 0px !important;
      max-width: 99%;
  
      }
      .shopAll__section .swiper-button-prev,  .shopAll__section .swiper-button-next  {
        display: none;
      }
  }
  @media screen and (max-width: 600px) {
  
    .checkout__loginEntry,.checkout__flexContainerLeft .CheckoutActions__Action-sc-1rn7obm-0{
      padding: 25px !important;
    }
    .checkout__flexContainerRight, .makeStyles-checkoutContent-3{
      padding: 0px !important ;
    }
    .mt-25{
      margin-top: 25px !important;
    } 
    .checkout__summary {
      max-width: 559px !important;
     
      padding:  15px !important;
      border-top: none !important;
  }
  .customCartList__item {
    display: flex;
    padding: 15px 0px !important;
    border-bottom: 1px solid rgba(204,204,204,0.5);
}
.checkout__flexContainerLeft{
  margin: 0px !important;
}
.customCartList__rightContainer{
  padding: 0px 0px 0px 15px !important;

}
    
  }
