.forgotPassword__logoBox{
    padding: 20px 0px;
    border: none;
    padding-left: 15px;
    display: flex;
    justify-content: center;
  }
.forgotPassword__closeButton{
    position: absolute !important;
    right: 25px;
    top: 22px;
    background-color: #F0F0F0 !important;
    height: 34px;
    width: 34px;

  }
.PhoneInputInput{
    border: none !important;
    padding: 3px 0px !important;
}
.PhoneInputInput:focus{
    outline: none !important;
}
.formRow{
    padding:10px 0px;
  }
  .formRow>.MuiTextField-root>.MuiInput-formControl>.MuiInput-input{
      border: 1px solid #DEDEDE !important;
      padding-left: 15px;
      border-radius: 25px;
  }
  .formRow>.MuiTextField-root>.MuiInput-formControl::before{
    border-bottom: none !important;
}
.formRow>.MuiTextField-root>.MuiInput-formControl::after{
    border-bottom: none;
}
.forgotPassword__inputLabel{
    font-size:12px !important;
    font-weight:500 !important;
    padding:5px 15px;
    color: #000000 !important;
    text-align: center;
  }
.forgotPassword__footerText{
   padding-top: 10px;
   padding-bottom: 10px;
    padding-left:15px;
    font-size: 12px;
    font-weight: 500;
    color: #000000 !important;
    text-align: center;
 }
.forgotPassword__footerText>span{
   color:#D8213B;
   cursor: pointer;
}
.forgotPassword__innerContainer{
    margin-top: 30px;
    padding: 0px 20px;
    margin-bottom: 30px;
}
.forgotPassword__headerTitle{
    padding-left:15px;
    text-align: center;
 }
.login__forgotPassword{
    
    padding-left: 15px;
    color:#D8213B !important;
    cursor: pointer;
    text-align: center;
}
.forgotPassword__footer{
    display:flex;
    padding:16px 0px;
    align-items: center;
    justify-content: center;
}
.forgotPassword__leftCol{
    position: relative;
  }
  .forgotPasswordImgShoesLogo{
    position: absolute;
    left: 40px;
    top: 49px;
  }
@media screen and (min-width: 964px) {
    .forgotPassword__logoBox{
        
        justify-content: flex-start;
      }
      .forgotPassword__closeButton{
        height: 44px;
        width: 44px;
    
      }
    .forgotPassword__innerContainer{
        margin-top: 30px;
        padding: 0px 80px !important;
        margin-bottom: 0px;
    }
    .forgotPassword__headerTitle{
         padding-left:15px;
        text-align: left;
     }
    .forgotPassword__inputLabel{
        text-align: left;
    }
    .login__forgotPassword{
    
        padding-left: 15px;
        color:#D8213B !important;
        cursor: pointer;
        text-align: left;
    }
    .forgotPassword__footerText{
        text-align: left;
    }
  .forgotPassword__footer{
      justify-content: flex-start;
  }
  }
