.resetPassword__logoBox{
    padding: 20px 0px;
    border: none;
    padding-left: 15px;
    display: flex;
    justify-content: center;
  }
.resetPassword__closeButton{
    position: absolute !important;
    right: 25px;
    top: 22px;
    background-color: #F0F0F0 !important;
    height: 34px;
    width: 34px;

  }
.PhoneInputInput{
    border: none !important;
    padding: 3px 0px !important;
}
.PhoneInputInput:focus{
    outline: none !important;
}
.signup__formRow{
    padding:5px 0px;
  }
  .signup__formRow>.MuiTextField-root>.MuiInput-formControl>.MuiInput-input{
      border: 1px solid #DEDEDE !important;
      padding-left: 15px;
      border-radius: 25px;
  }
  .signup__formRow>.MuiTextField-root>.MuiInput-formControl::before{
    border-bottom: none !important;
}
.signup__formRow>.MuiTextField-root>.MuiInput-formControl::after{
    border-bottom: none;
}
.login__footerText{
   padding-top: 10px;
   padding-bottom: 10px;
    padding-left:15px;
    font-size: 12px;
    font-weight: 500;
    color: #000000 !important;
 }
.login__footerText>span{
   color:red;
   cursor: pointer;
}
.resetPassword__innerContainer{
    margin-top: 30px;
    padding: 0px 20px !important;
    margin-bottom: 30px;
  }
.resetPassword__headerTitle{
    padding-left:15px;
    text-align: center;
 }
.resetPassword__inputLabel{
    font-size:12px !important;
    font-weight:500 !important;
    padding:5px 15px;
    color: #000000 !important;
    text-align: center;
  }
.resetPassword__footer{
    display:flex;
    padding:10px 0px;
    align-items: center;
    justify-content: center;
  }
  .resetPassword__leftCol{
    position: relative;
  }
  .resetPasswordImgShoesLogo{
    position: absolute;
    left: 40px;
    top: 49px;
  }
  @media screen and (min-width: 964px) {
    .resetPassword__logoBox{
        
        justify-content: flex-start;
      }
      .resetPassword__closeButton{
        height: 44px;
        width: 44px;
    
      }
    .resetPassword__innerContainer{
        margin-top: 30px;
        padding: 0px 80px !important;
        margin-bottom: 0px;
      }
      .resetPassword__headerTitle{
          text-align: left;
      }
      .resetPassword__inputLabel{
          text-align: left;
      }
      .resetPassword__footer{
          justify-content: flex-start;
      }
  }